body{
    max-width: 100%;
    display: block;
    margin: auto;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
}
header{
    min-height: 77px;
    background-color: #9873df;
    max-width: 100%;
    padding: 20px;
}
footer{
    min-height: 180px;
    background-color: #9873df;
    padding: 40px;
    color: #FFFFFF;
    font-size: 14px;
}
.lista_footer {
    margin-top:30px;
}
.lista_footer a{
    color: #FFFFFF;
}
h4{
    color: #000000;
}
#container{
    padding: 0 60px;
}
#center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e95f86;
    padding: 25px;
    margin: 30px;
    border-radius: 30px;
    color: #FFFFFF;
    min-height: 300px;
}
#portfolio{
    text-align: right;
}
.portfolio{
    color: #FFFFFF;
}
.portfolio:hover, .lista_footer a:hover{
    color: #000000;
    font-weight: bolder;
}
.nav li a:hover{
    font-weight: bold;
    color: #000000;
}
.nav {
    float: right;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.nav li{
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 20px;
}
.nav li a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}
.profile{
    max-width: 200px;
    padding: 50px 0 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile:hover{
    opacity: 0.5;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transform: scale(1.09);
    cursor: pointer;
}
#who{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.apresentation{
    padding-top: 18px;
    color: #e95f86;
}
#apresentation{
    text-align: left;
    padding-right: 10px;
}
.ifce{
    color: #000000;
}
.ifce:hover{
    color: #9873df;
}
#logo{
    width: 150px;
    padding: 20px 0 0 45px;
    display: flex;
    justify-content: left;
    align-items: left;
}
.logo{
    width: 110px;
    margin: 15px 0 0 45px;
}
.footer-text{
    margin: 15px 0 0 45px;
}